.botaoface
{
    background-color: rgb(59, 89, 152);
    color: white;
}

.botaogoogle
{
    background-color: rgb(217, 48, 37);
    color: white;
}


.loading
{
    background: rgba(0, 0, 0, 0.5);
    position: fixed; 
    width: 100%;
    height: 100%;
}

.loading label
{
    font-size: 24px;
}

.centralizar
{
    display: flex;
    justify-content: center;
    align-items: center;
}